

.linear-grad2{
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #ffebcd, #008080);
}

.msg{
    -fx-cursor: default;

    -fx-background-radius: 2px;
    -fx-padding: 5px;

    -fx-border-radius: 2px;
}

.msg-linkbox{
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-background-color: whitesmoke;
    -fx-effect: dropshadow(three-pass-box,black,5,0,0,1);
}
.msg-linkbox:hover{
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-background-color: white;

}

.msg-label, .msg-label:focused {
    -fx-background-color: transparent ;
    -fx-background-insets: 0px ;
}

.msg-label:hover{
    -fx-cursor: text;
    -fx-background-color: transparent ;
}

.circle-icon{
    -fx-effect: dropshadow(two-pass-box,black,2,0,1,1);
}