

.linear-grad2{
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #ffebcd, #008080);
}

.list-cell:hover{
    -fx-background-color: rgba(80,80,80,0.85) !important;
    -fx-effect: dropshadow(three-pass-box, black, 3, 0, 0, 0);
}

.list-cell:selected{
    -fx-background-color: rgba(80,80,80,0.9) !important;
    -fx-effect: dropshadow(three-pass-box, black, 6, 0, 0, 0);
}

.msg-mine{
    -fx-background-color: #6CB2D1;
}

.msg-else{
    -fx-background-color:  #3F3F3F;
}

.msg-mine msg-label {
    -fx-text-inner-color: white !important;
}

.msg-optbtn{
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #44A08D, #093637);
}

.opt-failed{
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #bdc3c7, #2c3e50);
}

.opt-success{
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #00b09b, #96c93d);
    -fx-cursor: default;
}
.opt-success:hover{
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #00b09b, #96c93d);
    -fx-border-color: green;
}

.msg-toolbar{
    -fx-background-color: linear-gradient(from 0% 0% to 60% 0%, #434343,#252525);
}

.tool-mine{
    -fx-background-color: linear-gradient(from 0% 0% to 60% 0%,#252525, #434343);
}

.pending-usr-box:hover{
    -fx-background-color: #474642;
}

#usr-list-container{
    -fx-background-color: #3F3F3F;
}
.pending-usr-box{
    -fx-background-color: transparent;
}