

.linear-grad2{
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #ffebcd, #008080);
}

.msg{
    -fx-border-radius: 25px;
    -fx-font-smoothing-type: gray;
    -fx-cursor: default;
}

.msg-label, .msg-label:focused {
    -fx-background-color: transparent ;
    -fx-background-insets: 0px ;
}

.msg-label:hover{
    -fx-cursor: text;
    -fx-background-color: transparent ;
}

